<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/7b924e2171.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2? family=Lato:ital,wght@0,100;0,300;1,100&family=Roboto:wght@300&display=swap"
        rel="stylesheet">

    <title>Mi primer documento html</title>
</head>

<body>
    <header class="encabezado">
        <section class="section-logo-searchbar">
            <div class="logo"><img src="/img/logo-mercado-liebre.svg" alt=""></div>
            <section class="section-header">
                <form action="search" method="post" >
                    <label for="search"></label>
                    <input type="text" id="search" placeholder="buscar productos,marcas...">
                    <div class="i-header"><i class="fa-solid fa-magnifying-glass"></i></div>
                </form>
              
            </section>
            <div class="divconh4">
                <h4 class="center"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                    crédito
                </h4>
            </div>

        </section>

        <section class="sectionconnavs">
            <nav class="nav-header">
                <ul>
                    <li><a href="#">ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="nav-header">
                <ul>
                    <li><a href="/creatucuenta">Creá tu cuenta <i class="fa-regular fa-file-invoice"></i></a></li>
                    <li><a href="/ingresa">Ingresá <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-regular fa-basket-shopping"></i></a></li>
                </ul>
            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars azul"></i>
            </div>
        </section>

    </header>

    <img src="/img/img-home-banner.jpg" alt="" class="banner">

    <main class="main">
        <section>
            <header>
                <h2>Basado en tu última visita</h2>
            </header>
            <div class="divparalosarticles">
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">

                    <div class="divsection">
                        <i class="fa-solid fa-truck logoiarticle"></i>
                        <div class="div2p">
                            <p class="pconprecio">$6.770</p>
                            <p class="strong">40% OFF</p>
                        </div>
                        <div>
                            <p><strong class="pstrong">Cafetera Moulinex</strong></p>
                        </div>

                    </div>
                </article>
                <article>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="">

                    <div class="divsection">
                        <i class="fa-solid fa-truck logoiarticle"></i>
                        <div class="div2p">
                            <p class="pconprecio">$230.000</p>
                            <p class="strong">20% off</p>
                        </div>
                        <div>
                            <p><strong class="pstrong">MacBook Pro 2019</strong></p>
                        </div>

                    </div>
                </article>
                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">

                    <div class="divsection">
                        <i class="fa-solid fa-truck logoiarticle"></i>
                        <div class="div2p">
                            <p class="pconprecio">$70.500</p>
                            <p class="strong">10% off</p>
                        </div>
                        <div>
                            <p><strong class="pstrong">Samsung Galaxy S10</strong></p>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="">
                    <div class="divsection">
                        <i class="fa-solid fa-truck logoiarticle"></i>

                        <div class="div2p">
                            <p class="pconprecio">$23.200</p>
                            <p class="strong">5% off</p>
                        </div>
                        <div>
                            <p><strong class="pstrong">SmartTv Samsung 43"</strong></p>
                        </div>

                    </div>
                </article>
            </div>
        </section>

        <section>
            <header>
                <h2>Sección de Ofertas</h2>
            </header>
            <div class="divparalosarticles">
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">

                    <div class="divsection">
                        <i class="fa-solid fa-truck logoiarticle"></i>
                        <div class="div2p">
                            <p class="pconprecio">$6.770</p>
                            <p class="strong">40% OFF</p>
                        </div>
                        <div>
                            <p><strong class="pstrong">Cafetera Moulinex</strong></p>
                        </div>

                    </div>
                </article>
                <article>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="">

                    <div class="divsection">
                        <i class="fa-solid fa-truck logoiarticle"></i>
                        <div class="div2p">
                            <p class="pconprecio">$230.000</p>
                            <p class="strong">20% off</p>
                        </div>
                        <div>
                            <p><strong class="pstrong">MacBook Pro 2019</strong></p>
                        </div>

                    </div>
                </article>
                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">

                    <div class="divsection">
                        <i class="fa-solid fa-truck logoiarticle"></i>
                        <div class="div2p">
                            <p class="pconprecio">$70.500</p>
                            <p class="strong">10% off</p>
                        </div>
                        <div>
                            <p><strong class="pstrong">Samsung Galaxy S10</strong></p>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="">
                    <div class="divsection">
                        <i class="fa-solid fa-truck logoiarticle"></i>

                        <div class="div2p">
                            <p class="pconprecio">$23.200</p>
                            <p class="strong">5% off</p>
                        </div>
                        <div>
                            <p><strong class="pstrong">SmartTv Samsung 43"</strong></p>
                        </div>

                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer class="center">
        <section>
            <header>
                <span><i class="fa-solid fa-credit-card i-footer"></i></span>
                <h4>Pagá con tarjeta o en efectivo</h4>
            </header>
            <article>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas <br> sin interés con tarjeta o efectivo en puntos de <br>
                    pago. ¡Y siempre es seguro!
                </p>
            </article>
        </section>

        <section>
            <span><i class="fa-solid fa-gift i-footer"></i></span>
            <header>
                <h4>Envío gratis desde $ 2.500</h4>
            </header>
            <article>
                <p>
                    Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de productos. Es <br>
                    un beneficio de Mercado Puntos.
                </p>
            </article>
        </section>

        <section>
            <header>
                <span><i class="fa-solid fa-user-shield i-footer"></i></span>
                <h4>Seguridad, de principio a fin</h4>
            </header>
            <article>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br> no hay nada que no puedas hacer, porque estás <br>
                    siempre protegid@.
                </p>
            </article>
        </section>

        <section>
            <header>
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </header>
        </section>

    </footer>


</body>

</html>