* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

.encabezado {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
}

.logo {
    margin-left: 20px;
    height: 50%;
    width: 50%;

}

body {
    font-size: 12px;
    background-color: #ebebeb;
}

.titulares {
    font-size: 24px;
}

p {
    font-size: 18px;
}

p strong {
    font-size: 16px;
}

.strong {
    font-weight: normal;
    color: rgb(145, 221, 31);
}

.burger-menu {
    color: #ebebeb;
    text-align: center;
    font-size: 300%;

}

.azul {
    background-color: #03264C;
}

.box {
    margin: auto;
    width: 300px;
    height: 50px;

}

.center {
    text-align: center;
}

footer span {
    font-size: 2em;
    color: #03264C;
    margin-top: 10px;
}

article img {
    width: 30vw;


}


.burger-menu {
    text-align: center;
    padding: 10px;
    font-size: 200%;

}

.fa-bars {
    color: #ebebeb;
    background-color: #1259c3;
    padding: 5px;
    font-size: 100%;
    border-radius: 2px;

}

.i-header {
    padding: 2px;
    background-color: #ebebeb;
    width: 12px;
}

.section-header {
    margin-left: 10px;
}

.nav-header {
    margin-left: -2%;
}

.main {
    margin: auto;
    width: 90%;
}

article {
    margin: 10px;
}

article div {
    background-color: white;
    width: 30vw;

}

.divsection {
    border-top: 1px solid #ebebeb;
}

.divsection .div2p {
    display: flex;

}

.div2p .pconprecio {
    width: 30%;
}

.logoiarticle {
    color: #39b54a;
    margin: auto;
    padding: 5px;
    position: relative;
    left: 80%;
    bottom: 20px;
    border: 1px solid #39b54a;
    font-size: 16px;
    border-radius: 53px;
    display: block;
}


.banner {
    width: 100%;

}



@media(min-width:0px) {
    .pstrong {
        display: none;
    }

    .nav-header {
        display: none;
    }

    .section-logo-searchbar {
        display: flex;
    }

    .i-header {
        padding: 1px;
        display: inline-block;
        margin: -4px;
    }

    .section-header {
        margin: auto;
        width: 50%;
        font-size: 93%;
    }

    .divconh4 {
        position: absolute;
        bottom: 92%;
        left: 22%;
        font-size: 8px;
    }

    p {
        font-size: 9px;
    }

    .divparalosarticles {
        display: block;
    }

    .divparalosarticles article img {
        width: 70vw;
    }

    .divparalosarticles article div {
        width: 70vw;
    }

    .logoiarticle {
        left: 82%;
        bottom: 13px;
        font-size: 14px;
    }

}


@media(min-width:361px) {
    .pstrong {
        display: block;
    }

    .nav-header {
        display: block;
        margin-left: 0%;
        font-size: 8px;
        
    }
    .sectionconnavs{
        display: flex;
        justify-content: space-between;
    }
    .nav-header ul{
        display: flex;
        list-style: none;
    }
    .nav-header li{
        margin: 0 5px;
    }
    .nav-header a{
        text-decoration: none;
        color: black;
    }

    .section-logo-searchbar {
        justify-content: space-between;

    }

    .divconh4 {
        position: relative;
        font-size: 10px;
        bottom: auto;
        left: initial;
        font-size: 7px;
        margin: auto;
        align-items: center;
        font-weight: 400;
        width: 50%;
    }

    .i-header {
        padding: 2px;
    }

    .logo {
        margin: 10px;
        width: 30%;
    }

    .burger-menu {
        display: none;
    }

    .section-header {
        margin: auto;
        font-size: 52%;
        width: 28vw;
    }

    article div {
        box-shadow: 1px 1px rgba(0, 0, 0, 0.258);
    }

    article img {
        box-shadow: 1px 1px rgba(0, 0, 0, 0.258);
    }

    .divparalosarticles {
        display: flex;
        flex-wrap: wrap;
    }

    .divparalosarticles article img {
        width: 37vw;
    }

    .divparalosarticles article div {
        width: 37vw;
    }

}

@media (min-width:768px){
    .nav-header{
        font-size: 12px;
    }
    .logo {
        margin: 22px;
        width: 38%;
    }

    .section-header {
        margin: 51px;
        font-size: 130%;
        width: 38vw;
    }

    .divconh4 {
        font-size: 12px;
    }

    .i-header {
        width: 22px;
    }

}

@media(min-width:1200px) {
    .section-header{
        font-size: 196%;
    }
    .i-header{
        width: 34px;
    }
    .divconh4{
        font-size: 22px;
    }
    .divparalosarticles {
        display: flex;
        flex-wrap: nowrap;
    }

    .divparalosarticles article img {
        width: 21vw;
    }

    .divparalosarticles article div {
        width: 21vw;
    }

}